<launch>

  <!-- autonomy node-->
  <include file="$(find ardrone_autonomy)/launch/ardrone.launch" />

  <node pkg="image_view" type="image_view" name="front_camera">
  	<remap from="image" to="/ardrone/front/image_raw" />
  </node>

  <!-- controller node -->
  <param name="controller" value="leap" />
  <node pkg="ardrone_leapjoy" type="drone_controller" name="leapdrone" output="screen">
  </node>

</launch>
